html body {
  margin: 0 25px;
}

/* Animated Switch */
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
/* Animated Switch */

/*  REACT TRANSITIONS */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 500 ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500 ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}


/*  REACT TRANSITIONS */


#projects {
  margin: 50px 25px 25px 25px;
  /* font-family: 'Convergence', sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* font-family: 'KoHo', sans-serif; */
  /* font-family: 'Zilla Slab', serif; */

  font-weight: light;
  font-style: italic;
  display:none;
}

.project {
  border-top: 1px solid lightgrey;
  padding: 5px;
}

.projTitle {
  text-align: center;
}

#profile-img {
  float: left;
  padding: 0px 20px 200px 5px;
}

/* #blog {
  display:none;
  padding: 0 25px;
} */

/* .card-img-top {
  width: 300px;
} */

.project-description {
  padding: 10px 25px 10px 25px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  background: snow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
